<div class="login-container">
    <div *ngIf="data.option == 'register'">
        <h3>Register</h3>

        <form (submit)="register()">
            <mat-form-field class="full-width" ppearance="fill">
                <mat-label>Firstname</mat-label>
                <input [(ngModel)]="user_fname" name="user_fname" matInput required>
            </mat-form-field>
        
            <mat-form-field class="full-width" ppearance="fill">
                <mat-label>Middlename</mat-label>
                <input [(ngModel)]="user_mname" name="user_mname" matInput>
            </mat-form-field>
        
            <mat-form-field class="full-width" ppearance="fill">
                <mat-label>Lastname</mat-label>
                <input [(ngModel)]="user_lname" name="user_lname" matInput required>
            </mat-form-field>
        
            <mat-form-field class="full-width" ppearance="fill">
                <mat-label>Username</mat-label>
                <input [(ngModel)]="user_username" name="user_username" matInput required>
            </mat-form-field>
        
            <mat-form-field class="full-width" ppearance="fill">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="user_password" name="user_password" type="password" matInput required>
            </mat-form-field>
        
            <mat-form-field class="full-width" ppearance="fill">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="user_email" name="user_email" type="email" matInput required>
            </mat-form-field>
        
            <mat-form-field class="full-width" ppearance="fill">
                <mat-label>Contact Number</mat-label>
                <input [(ngModel)]="user_phone" name="user_phone"  matInput required>
            </mat-form-field>
        
            <button type="submit" mat-button class="full-width reg-btn" color="primary">Register</button>
        </form>

        <button mat-button class="full-width cancel-btn" color="primary">Cancel</button>

    </div>

    <div *ngIf="data.option == 'item'">
        <img src="{{data.product_data.product_image}}" class="item">
        <h3>{{data.product_data.product_name}}</h3>
        <h3><b>₱ {{data.product_data.product_price}}</b></h3>
        <br>

        <p>{{data.product_data.product_desc}}</p>

        <button (click)="addToCart(data.product_data.product_id)" mat-button class="add-btn" color="primary">Add to Cart</button>

        <button (click)="closeDialog()" mat-button class="add-btn" color="primary">Cancel</button>
    </div>

    
    <div *ngIf="data.option == 'logout'">
       <p>Are your sure you want to logout?</p>

        <button (click)="logout()" mat-button class="add-btn" color="#228b18">Yes</button>

        <button (click)="closeDialog()" mat-button class="add-btn" color="warn">Cancel</button>
    </div>

    <div *ngIf="data.option == 'checkout'">
        <p>Are your sure you want to check out your items?</p>
 
         <button (click)="logout()" mat-button class="add-btn" color="#228b18">Yes</button>
 
         <button (click)="closeDialog()"  mat-button class="add-btn" color="warn">Cancel</button>
     </div>
</div>

