<div class="login-container">
        
    <h3>Register</h3>

    <mat-form-field class="full-width" ppearance="fill">
        <mat-label>Firstname</mat-label>
        <input matInput required>
    </mat-form-field>

    <mat-form-field class="full-width" ppearance="fill">
        <mat-label>Middlename</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="full-width" ppearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput required>
    </mat-form-field>

    <mat-form-field class="full-width" ppearance="fill">
        <mat-label>Username</mat-label>
        <input matInput required>
    </mat-form-field>

    <mat-form-field class="full-width" ppearance="fill">
        <mat-label>Password</mat-label>
        <input matInput required>
    </mat-form-field>

    <mat-form-field class="full-width" ppearance="fill">
        <mat-label>Email</mat-label>
        <input matInput required>
    </mat-form-field>

    <mat-form-field class="full-width" ppearance="fill">
        <mat-label>Contact Number</mat-label>
        <input matInput required>
    </mat-form-field>

    <button mat-button class="full-width reg-btn" color="primary">Register</button>

    <button mat-button class="full-width cancel-btn" color="primary">Cancel</button>

</div>
