.main-container{
    width: 33%;
    top: 50%;
    left: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-container{
    align-content: center;
    text-align: center;
}

.full-width{
    width:100%
}

.login-btn{
    background-color: teal;
    color:white;
    margin: 20px 0;
}

.reg-btn{
    background-color: grey;
    color:white;
}