.main-container{
    width: 33%;
    position: absolute;
    margin: 0 auto;
}

.login-container{
    align-content: center;
    text-align: center;
}

.full-width{
    width:100%
}

.login-btn{
    background-color: teal;
    color:white;
    margin: 20px 0;
}

.reg-btn{
    background-color: grey;
    color:white;
}