<div class="main-container">
    <mat-card class="login-container">
        <img src="assets/templogo.png" class="logo">
        <h3>Your convenience starts here</h3>

        <form (submit)="login()">
            <mat-form-field class="full-width" ppearance="fill">
                <mat-label>Username</mat-label>
                <input [(ngModel)]="user_username" name="user_username" matInput>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" [(ngModel)]="user_password" name="user_password" matInput>
            </mat-form-field>
            <button type="submit" mat-button class="full-width login-btn" color="primary">Login</button>
        </form>

        <button mat-button class="full-width reg-btn" (click)="openDialog('register')" color="primary">Register</button>

    </mat-card>
</div>