<div class="main-container">
    <div class="header">
        <img src="assets/templogo.png" class="templogo">

        <button mat-button class="logout-btn" color="primary" (click) = "openDialog('logout', null)">Logout</button>

    </div>

    <mat-tab-group>
        <mat-tab label="Items">
            <div class="select-cat" >

                <mat-form-field appearance="fill">
                    <mat-label>Select category</mat-label>
                    <mat-select (selectionChange)="productByCategory()" [(value)]="selected">
                        <mat-option value="All Products">All Products</mat-option>
                        <mat-option value="Fruit">Fruit</mat-option>
                        <mat-option value="Vegetable">Vegetable</mat-option>
                        <mat-option value="Bread">Bread</mat-option>
                        <mat-option value="Canned food">Canned food</mat-option>
                        <mat-option value="Dairy">Dairy</mat-option>
                        <mat-option value="Meat">Meat</mat-option>
                        <mat-option value="Seafood">Seafood</mat-option>
                        <mat-option value="Drinks">Drinks</mat-option>
                        <mat-option value="Soap">Soap</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

                <h1 class="category-label"><strong>{{selected}}</strong></h1>

                <mat-grid-list  cols="5" rowHeight="1:1">  
                    <mat-grid-tile *ngFor = "let product of product_data">
                        <mat-card (click)="openDialog('item', product)" class="categ">
                            <img src="{{product.product_image}}" class="logo">
                            <p>{{product.product_name}}</p>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
        </mat-tab>

        <mat-tab label="Cart">
            <button mat-button class="checkout-btn" color="primary" (click)= "openDialog('checkout', null)">Check out</button> 
            <mat-grid-list cols="5" rowHeight="1:1">  
                <mat-grid-tile *ngFor = "let cart of cart_data ">
                    <mat-card class="categ">
                        <img src="{{cart.product_image}}" class="logo">
                        <p><strong>{{cart.product_name}}</strong></p>
                        <p>{{cart.cart_quantity}} | {{cart.cart_quantity * cart.product_price}} </p>

                        <button mat-button class="add-btn" (click)="addQuantity(cart)" color="white"><mat-icon>add</mat-icon></button>

                        <button mat-button class="add-btn" (click)="subtractQuantity(cart)" color="white"><mat-icon>remove</mat-icon></button>

                        <button mat-button class="add-btn" (click)="removeCart(cart)" color="warn"><mat-icon>delete</mat-icon></button>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>

        <mat-tab label="Profile"> 

            <button mat-button class="checkout-btn" color="primary" (click)= "openDialog('edit', null)">Edit</button>

            <mat-grid-list  cols="5" rowHeight="1:1">  
                <mat-grid-tile>
                    <mat-card class="categ">
    
                        <p><strong>Name</strong></p>
                        <p>Juan Dela Cruz</p>

                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="categ">
    
                        <p><strong>Username</strong></p>
                        <p>juandelacruz</p>

                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="categ">
    
                        <p><strong>Address</strong></p>
                        <p>West Tapinac, Olongapo City</p>

                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="categ">
    
                        <p><strong>Email Address</strong></p>
                        <p>juandelacruz@gmail.com</p>

                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="categ">
    
                        <p><strong>Contact Number</strong></p>
                        <p>099999999999</p>

                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        
        
        </mat-tab>

        <mat-tab label="Orders"> 


            <table style="width:100%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> Order Number </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Date Order </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              

        </mat-tab>
    </mat-tab-group>
</div>